<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>

  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info glyphicon glyphicon-user">&nbsp;<%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(@message) do |f| %>
<div class="form-group">
  名前:
  <%= f.text_field:name, class: "form-control" %>
  <br>
  内容:
  <%= f.text_area:body, class: "form-control",rows:"10" %>
  <br>
  <%= f.submit class: "btn btn-primary btn-lg" %>
</div>
<% end %>
